<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/png" th:href="@{/icons/logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>MediVault – Secure Medical Storage</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="centered-container">
<div class="centered-container vertical-flex gap-50">
    <h1>MediVault</h1>
    <img th:src="@{/icons/logo.png}" alt="MediVault Logo" class="width-250">

    <div class="centered-container gap-25">
        <a th:href="@{/patient-authentication}" class="text-button text-button-1">Patients</a>
        <a th:href="@{/index}" class="text-button text-button-2">Doctors</a>
    </div>
</div>

</body>
</html>
