<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>MediVault – Patient Authentication</title>
    <link rel="icon" type="image/png" th:href="@{/icons/logo.png}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/patient-authentication.css}">

    <!-- Scripts -->
    <script th:src="@{/javascript/base64js.min.js}" defer></script>
    <script th:src="@{/javascript/custom.js}" defer></script>
    <script th:src="@{/javascript/umk-encryption.js}" defer></script>
    <script th:src="@{/javascript/patient-authentication.js}" defer></script>
</head>

<body class="centered-container">

<a th:href="@{/}" class="btn-with-icon tooltip-button back-button">
    <img th:src="@{/icons/back.png}" alt="Go Back" class="icon width-60">
    <span class="tooltip">Go Back</span>
</a>

<div class="auth-container">
    <!-- Tabs -->
    <div class="tabs">
        <div class="slider" id="slider"></div>
        <div class="tab" onclick="showLogin()">Login</div>
        <div class="tab" onclick="showRegister()">Register</div>
    </div>

    <!-- Forms -->
    <div class="forms" id="forms">

        <!-- Login -->
        <div class="form-panel">
            <h2 class="margin-bottom-20">Passwordless Login</h2>
            <form action="/webauthn/login/finish" method="POST" id="loginForm">
                <input type="hidden" id="credential" name="credential">
                <button type="button" onclick="checkCredentials()"
                        class="text-button text-button-1 fill-width font-20">
                    Login with Security Key
                </button>
            </form>
        </div>

        <!-- Register -->
        <div class="form-panel">
            <h2 class="margin-bottom-20">Passwordless Registration</h2>
            <form action="/webauthn/register/start" method="POST" id="registerForm">
                <label for="name" class="font-20 margin-bottom-5">Full Name</label>
                <input type="text" id="name" minlength="3" maxlength="32" name="name" placeholder="John Doe" required>
                <label for="dob" class="font-20 margin-bottom-5">Date of Birth</label>
                <input type="date" id="dob" name="dob" required>
                <label for="credname" class="font-20 margin-bottom-5">Security Key Name</label>
                <input type="text" id="credname" minlength="3" maxlength="16" name="credname" placeholder="Blue YubiKey" required>
                <button type="submit" class="text-button text-button-1 fill-width font-20">
                    Register
                </button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
