<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="icon" type="image/png" th:href="@{/icons/logo.png}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>MediVault</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/patient-dashboard.css}">
</head>

<body>

<!-- Top Navigation Bar -->
<header class="topbar">
    <div class="centered-container gap-15">
        <img th:src="@{/icons/logo.png}" alt="MediVault" class="width-60"/>
        <span class="font-20"> Patient <strong th:text="${'<' + username + '>'}"></strong></span>
    </div>

    <!-- Right: Buttons -->
    <div class="centered-container gap-15">
        <a th:href="@{/key-management}" class="btn-with-icon tooltip-button" aria-label="Keys">
            <img th:src="@{/icons/keys.png}" alt="Keys" class="icon width-40">
            <span class="tooltip tooltip-bottom">Manage Security Keys</span>
        </a>
        <a th:href="@{/logout}" class="btn-with-icon tooltip-button" aria-label="Logout">
            <img th:src="@{/icons/logout.png}" alt="Logout" class="icon width-40">
            <span class="tooltip tooltip-bottom">Logout</span>
        </a>
    </div>
</header>

<!-- Main Content -->
<main class="main-content">
    <h1>Welcome to MediVault</h1>
    <p>
        Your medical files are protected with
        <strong>end-to-end encryption</strong> and accessible only by you.
    </p>
</main>

</body>
</html>
