<div th:fragment="frag-topbar-doctor" class="topbar" id="topbar">
    <div class="centered-container gap-15">
        <img th:src="@{/icons/logo.png}" alt="MediVault" class="width-60"/>
        <span id="topbar-doctor-name" class="font-20">Doctor Portal</span>
    </div>
    <div class="centered-container gap-15">
        <a th:href="@{/doctor/dashboard}" data-client-nav class="btn-with-icon tooltip-button">
            <img th:src="@{/icons/home.png}" alt="Dashboard" class="icon width-40">
            <span class="tooltip tooltip-bottom">Dashboard</span>
        </a>
        <a href="/logout" class="btn-with-icon tooltip-button">
            <img th:src="@{/icons/logout.png}" alt="Logout" class="icon width-40">
            <span class="tooltip tooltip-bottom">Logout</span>
        </a>
    </div>
</div>
